$icon-color: #fff;

// Baseline SVG styles
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}



// Get specific here
.icon-navigation {
  color: $icon-color;
  font-size: 20px;
  margin-right: .5em;

  // Change color on hover
  &:hover {
    color: complement($icon-color);
  }
}



// Graph Animation (using full <svg>)
@keyframes graph-insert {
  0% {
    opacity: 0;
    transform: translateX(-.5em) translateY(.5em);
  }
  100% {
    opacity: 1;
  }
}

.icon-graph {

  path {
    position: relative;
    fill: color('blue');

    &:first-of-type {
      animation-name: graph-insert;
      animation-duration: 2s;
      fill: color('pink');
    }
  }
}
